/*
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html {
    background: #f9f9f9;
    overflow-x: hidden;
}




header {
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: solid #eee 2px;
    background: white;
    box-sizing: border-box;
}

header h1 {
    flex: 2;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 50px;
}

header img {
    display: block;
    height: 50px;
}

div.body {
height: calc(100% - 50px);
display: flex;
}

div.sidebar {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: solid #eee 2px;
    font-size: 14px;
    height:100%;
    overflow-y: auto;
}
*/
div.sidebar li {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    height: 32px;
    line-height: 32px;
    border-bottom: solid #eee 2px;
    cursor: pointer;
    text-align: left;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

div.sidebar div.section > * {
    padding-left: 10px;
}

div.sidebar div.section h3 + li {
    border-top: solid #eee 2px;
}

div.sidebar div.section li a {
    color: black;
    text-decoration: none;
}

div.sidebar li.active {
    /*background: #bd0000;*/
    /* background: #898C95;*/
    background: #132430;
    color: #ffffff;
}

div.sidebar li:hover {
    /*background: #f10404; */
    background: #5f9795;
    color: #ffffff;
}

div.section {
    margin-bottom: 10px;
}

div.content {
    display: flex;
    flex: 2;
}

#about {
    display: none;
    padding: 10px;
}

div.funding {
    display: flex;
    background: white;
    justify-content: space-between;
}

#try-it {
    display: flex;
    flex: 1;
}

.try-it-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
}

.try-it-content .header {
    display: flex;
}

.try-it-content .header span {
    flex: 1;
}

.menu-trigger {
    align-self: center;
    margin-right: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: solid transparent 1px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.menu-trigger:hover {
    /*border-color: #444;*/
    /*background-color: #fd4;*/
    /*background-color: #f10404;*/
    background-color: #A54A4B;
    color: #ffffff;

}

div.code-block {
    width: 50%;
    box-sizing: border-box;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

div.code-block .header {
    /*background-color: #fea; */
    background-color: #dcdcdc;

    padding-left: 5px;
}

div.editor {
    flex: 3;
    box-sizing: border-box;
}

.code-block.fullscreen {
    border: 0;
    margin: 0;
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
}

.fullscreen {
    overflow: hidden;
}

.leave-fullscreen {
    display: none;
    padding: 4px;
    padding-left: 10px;
    border-bottom: solid black 1px;
}

.leave-fullscreen i {
    color: blue;
    padding-right: 4px;
}

.fullscreen .leave-fullscreen {
    display: block;
}

.fullscreen .header {
    display: none;
}

.dropdown-menu-container {
    position: relative;
    right: 310px;
    top: 22px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 15;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    width: 310px;
    box-sizing: border-box;
    background-color: white;
    border: solid black 1px;

    font-size: 14px;
    max-height: 300px;
    overflow-y: auto;
}

.show-dropdown .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 4px;
    cursor: pointer;
    padding-right: 8px;
    display: flex;
    vertical-align: middle;

    padding-left: 28px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


.dropdown-menu li a{
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}
.dropdown-menu li a:link{
    text-decoration: none;
    color: black;
}

.dropdown-menu li a:visited {
    text-decoration: none;
    color: black;
}

.dropdown-menu li a:hover {
    text-decoration: none;
    color: black;
}

.dropdown-menu li a:active {
    text-decoration: none;
    color: black;
}


.dropdown-menu li:hover {
    /*background-color: #fd4;*/
    /*background-color: #f10404;*/
    background-color: #A54A4B;
    color: #ffffff;
}

.dropdown-menu li span {
    flex: 1;
    line-height: 20px;
}

.dropdown-menu li i {
    line-height: 20px;
    margin-left: -20px;
    width: 20px;
}

.nested-menu {
    display: none;
    padding-left: 10px;
}

.nested-menu.show {
    display: block;
}

/*
.with-link a {
    display: block;
    width: 100%;
    height: 100%;
}
*/

/******************** LS ********************/
div.lsView {
    width: 300px;
    height:100%;
}

div.lsView .header {
    display: flex;
    justify-content: space-between;
    /* background-color: #fea; */
    background-color: #dcdcdc;
    padding-left: 5px;
}

a.closeLS {
    align-self: center;
    margin-right: 2px;
    cursor: pointer;
    box-sizing: border-box;
    border: solid transparent 1px;
}

div.lsScroll {
    height: calc(100% - 22px);
    /*height: 100%;*/
    overflow-y: auto;
}

div.invisible {
    display: none;
}
/******************** LS ********************/